<ion-header>
  <ion-toolbar>
  	<ion-button fill="clear" color="dark" slot="start" (click)="closeModal()">
  	  <strong>Close</strong>
  	</ion-button>
    <ion-title>Add Family</ion-title>
    <ion-button fill="clear" color="dark" slot="end" (click)="addFamily()">
  	  <strong>Done</strong>
  	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
	  <ion-label position="fixed">Name</ion-label>
	  <ion-input [(ngModel)]="formData.name"></ion-input>
	</ion-item>

	<ion-item>
	  <ion-label position="fixed">Location</ion-label>
	  <ion-input [(ngModel)]="formData.location"></ion-input>
	</ion-item>

	<ion-item-divider>
		<ion-label class="small-text">Rooms with smart devices</ion-label>
	</ion-item-divider>

	<ion-item lines="none">
	    <ion-label>Living Room</ion-label>
	    <ion-checkbox slot="end" color="primary" checked></ion-checkbox>
	</ion-item>
	<ion-item lines="none">
	    <ion-label>Bedroom</ion-label>
	    <ion-checkbox slot="end" color="primary" checked></ion-checkbox>
	</ion-item>
	<ion-item lines="none">
	    <ion-label>Kitchen</ion-label>
	    <ion-checkbox slot="end" color="primary" checked></ion-checkbox>
	</ion-item>
	<ion-item>
	    <ion-label>Bathroom</ion-label>
	    <ion-checkbox slot="end" color="primary" checked></ion-checkbox>
	</ion-item>
</ion-content>
