<ion-header>
  <ion-toolbar>
    <ion-title>Connecting to Wifi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
	<div class="image-step">
		<img src="../../assets/imgs/steps/connecting.PNG">
	</div>
	
	<div class="instruction">
		<p>Connecting plug to wifi. <br>
			Please wait. . . 
		</p>

		<p class="success" color="success">{{connectionState}}</p>
		
	</div>

	<div class="button-container">
		
	</div>
</ion-content>
