<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
	<div class="content-container">
		<img src="../../assets/imgs/smarthome.png" width="200">
		<p>Sakura Smart Home Security and Automation.</p>
		<p>V1.0.1</p>
		<p>This app is distributed and developed by: <br>Connect Plus Asia. <br>All rights reserved. &copy; 2019</p>
		<br><br>
		<p>http://sakura-smart.com</p>
		<p>info@sakura-smart.com</p>
	</div>
</ion-content>
