@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

h1,h2,h3,h4,h5,h6,p,ion-back-button,ion-button,ion-title,ion-label,ion-input,ion-select,ion-select-option{
	font-family: 'Questrial', sans-serif !important;
}

.button-container{
	text-align: center;
	margin-top: 100px;
	font-family: 'Questrial', sans-serif !important;
}