<ion-header>
  <ion-toolbar>
    <ion-title>Family Management</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="none" *ngFor="let fam of families" (click)="goToFamilyInfo(fam.id)">
	    <ion-label>{{fam.family_name}}</ion-label>
	</ion-item>
	<ion-item-divider></ion-item-divider>
	<ion-item lines="none" (click)="presentFamilyModal()">
	    <ion-label><strong>Add Family</strong></ion-label>
	</ion-item>
</ion-content>
