<ion-header>
  <ion-toolbar>
    <ion-title>Message</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
		  <ion-label position="floating">Email</ion-label>
		  <ion-input type="email"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Contact Number</ion-label>
		  <ion-input type="tel"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Message</ion-label>
		  <ion-textarea></ion-textarea>
		</ion-item>
		<div class="padding-button">
			<ion-button color="primary" expand="block">Submit</ion-button>
		</div>
		
	</ion-list>
</ion-content>
